body {
  background : rgb(202,214,208);
  font-size: 12px;
  font-family:"Verdana",sans-sarif;
  font-weight: bold;
  font-style:italic;
  color: #530564;
}

.Rampararam{
  background:red;
  color:#410BE3;
}

.Rumparam {
  background:#222222;
  color:#A09F77;
}
